<!-- Validation failure messages -->
<% if @train.errors.any? %>
  <% @train.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Train #<%= @train.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_train/<%= @train.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for arrives_at -->
      <div class="form-group">
        <label for="arrives_at" class="control-label">
          Arrives at
        </label>

        <input type="text" id="arrives_at" name="arrives_at" placeholder="Arrives at" class="form-control" value="<%= @train.arrives_at.strftime("%l:%M%P") %>">
      </div>

      <!-- Label and input for line -->
      <div class="form-group">
        <label for="line" class="control-label">
          Line
        </label>

        <input type="text" id="line" name="line" placeholder="Line" class="form-control" value="<%= @train.line %>">
      </div>

      <button class="btn btn-warning">
        Update Train
      </button>
      or
      <a href="/trains/<%= @train.id %>">Cancel</a>
    </form>
  </div>
</div>
