<div class="page-header">
  <h3>Train #<%= @train.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Arrives at</dt>
      <dd><%= @train.arrives_at.strftime "%l:%M%P" %></dd>

      <dt>Line</dt>
      <dd><%= @train.line %></dd>

      <dt>Platform Summary</dt>
      <dd>
        <ul class="list-group">

          <% ["1", "2", "3"].each do |p| %>
          <li class="list-group-item">Platform <%= p %>: <%= @platform_stats[p]["pct"] %>
            <% if @platform_stats[p]["count"] > 0%>
            <span class="badge">
              <%= @platform_stats[p]["count"] %>
            </span>
            <% end %>
          </li>
          <% end %>
        </ul>
      </dd>

      <dt>Platform History</dt>
      <dd>
        <ul class="list-group">
          <% @train.arrivals.each do |arrivals| %>
          <li class="list-group-item"><%= arrivals.created_at.strftime('%Y-%m-%d') %>: Platform <%= arrivals.platform %>
          </li>
          <% end %>

          <li class="list-group-item">
            <form action="/create_arrival" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Label and input for user_id -->
              <div class="form-group">
                <label for="platform" class="control-label">
                  Platform
                </label>
                <%= select_tag(:platform, options_for_select([ "1", "2", "3" ], "2"), :class => "form-control") %>
              </div>

              <!-- Label and input for director_id -->
              <input name="train_id" type="hidden" value="<%= @train.id %>">

              <button class="btn btn-success">
                Save Platform
              </button>
            </form>
          </li>
        </ul>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/trains" class="btn btn-primary">
        Back
      </a>
      <!-- <a href="/trains/<%= @train.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_train/<%= @train.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a> -->
    </div>
  </div>
</div>
